<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="character"></div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/matrix.js"></script>
    <script>
      var coordinates;
      $(function() {
        $.get(`${window.location.pathname}?ajax=true`, function(data) {
          var matrix = new Matrix(data.character, "{{font}}", {width: 5, height: 6}, data.coordinates);
          $('.character').append(matrix.render({editable: true}).$el);
        })
      });
    </script>
  </body>
</html>
