body {
  background: #000;
  font-family: helvetica;
  color: #666;
}
h1 {
  text-transform: uppercase;
  font-family: 'Bungee';
  margin: 0;
  color: #333;
}
a {
  color: #666;
}

.navbar h1 {
  padding-left: 10px;
  text-shadow: -2px 1px 0px yellow;
  font-size: 2.9rem;
}
.navbar {
  margin-bottom: 50px;
  background: linear-gradient(#AAA 50%, #BBB);
}
.navbar h1 a {
  color: #333;
  line-height: 1.1;
  padding: 0;
  font-size: 2.9rem;
}
.matrix-frame {
  width: 100%;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  z-index: 100;
  position: relative;
}
.matrix-dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #333;
}
.matrix-dot.on {
  background-color: #FFF;
}
.matrix-row {
  text-align: center;
  display: flex;
}
.matrix-dot-wrapper {
  display: inline-block;
  padding: 4px;
}
.matrix-character {
  text-align: center;
  line-height: 20px;
}

.card {
  background: #666;
  color: #EEE;
  border: none;
}

a.btn.btn-primary {
  background: #c7c74e;
  color: #111;
  border: none;
}
