<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header class="navbar navbar-static-top navbar-light bg-faded" style="border-radius: 0;">
      <h1><a href="/" class="btn btn-link">Fonts</a> / New</h1>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6">
          <form action="/fonts" method="post">
            <div class="form-group">
              <label for="name" class="col-form-label col-form-label-lg">Font name</label>
              <input type="text" name="name" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label col-form-label-lg">Slug</label>
              <input type="text" name="name" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Author</label>
              <input type="text" name="author" class="form-control" />
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Description</label>
              <textarea type="text" name="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label for="width">Character Width</label>
              <select type="text" name="width" class="form-control">
                <option value="4">4 dots</option>
                <option value="5">5 dots</option>
                <option value="6">6 dots</option>
                <option value="7">7 dots</option>
                <option value="8">8 dots</option>
                <option value="9">9 dots</option>
                <option value="10">10 dots</option>
                <option value="11">11 dots</option>
                <option value="12">12 dots</option>
                <option value="13">13 dots</option>
                <option value="14">14 dots</option>
                <option value="15">15 dots</option>
                <option value="16">16 dots</option>
                <option value="17">17 dots</option>
                <option value="18">18 dots</option>
              </select>
            </div>
            <div class="form-group">
              <label for="height">Character Height</label>
              <select type="text" name="height" class="form-control">
                <option value="4">4 dots</option>
                <option value="5">5 dots</option>
                <option value="6">6 dots</option>
                <option value="7">7 dots</option>
                <option value="8">8 dots</option>
                <option value="9">9 dots</option>
                <option value="10">10 dots</option>
                <option value="11">11 dots</option>
                <option value="12">12 dots</option>
                <option value="13">13 dots</option>
                <option value="14">14 dots</option>
                <option value="15">15 dots</option>
                <option value="16">16 dots</option>
                <option value="17">17 dots</option>
                <option value="18">18 dots</option>
              </select>
            </div>
            <button type="submit" class="btn btn-success">Create font</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  </body>
</html>
