<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{font}}</h1>
          <div class="characters"></div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/matrix.js"></script>
    <script>
      $(function() {
        $.get(`${window.location.pathname}?ajax=true`, function(data) {
          var sortedCharacters = Object.keys(data.characters).sort();
          sortedCharacters.forEach(function(character) {
            var coordinates = data.characters[character].coordinates,
                dimensions = {
                  width: data.characters[character].width || data.width,
                  height: data.characters[character].height || data.height
                };

            var matrix = new Matrix(character, "{{font}}", dimensions, coordinates);

            $('.characters').append(matrix.render({editable: true}).$el);
          });
        })
      });
    </script>
  </body>
</html>
